<h4>Usa tu correo electrónico</h4>
<form>
    <div class="names">
        <span>Nombre</span>
        <input class="text_input" type="text" name="nombres" id="nombres" placeholder="Escribe tu nombre" required>
    </div>
    <div class="surnames">
        <span>Apellidos</span>
        <input class="text_input" type="text" name="apellidos" id="apellidos" placeholder="Escribe tus apellidos"
            required>
    </div>
    <div class="mail">
        <span>Correo Electrónico</span>
        <input class="text_input" type="email" name="correo" id="correo" placeholder="Escribe tu correo electrónico"
            required>
    </div>
    <div class="contra">
        <span>Contraseña</span>
        <input class="text_input" type="password" name="contrasena" id="contrasena" placeholder="Escribe tu contraseña"
            required>
    </div>
    <div class="r_contra">
        <span>Repetir contraseña</span>
        <input class="text_input" type="text" name="r_contrasena" id="r_contrasena" placeholder="Repite tu contraseña"
            required>
    </div>
</form>